body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

#crawler {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 250px;
    left: 0px;
}

#crawler-form {

}